<div align="center" class="mydiv">
    <h1>Home</h1>
    <br>
    <div class="row">
        <div class="col">
            <div id="myshadowcard" class="card" style="width: 20rem; margin-top: 15px;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Card title</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="myshadowcard" class="card" style="width: 20rem; margin-top: 15px;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Card title</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="myshadowcard" class="card" style="width: 20rem; margin-top: 15px;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">Card title</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>