<nav id="myshadowbar" class="navbar navbar-expand-lg navbar-dark mynav1 fixed-top">
</nav>
<nav id="myshadowbar" class="navbar navbar-expand-lg navbar-dark mynav2 fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div align="center" class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="row">
                <div class="col">
                    <a type="button" href="#" style="text-decoration: none; color: #545859; margin-top: 4px;">
                        <img src="../../assets/Logo.png" alt="Logo"> UPC-MOOC
                    </a>
                </div>
            </div>
            <div class="row" style="margin-left: 6px;">
                <div class="col">
                    <a type="button" class="mybtn" href="#" style="text-decoration: none; color: #545859;">
                        INICIO
                    </a>
                </div>
            </div>
            <br>
            <div class="row" style="margin-left: 6px;">
                <div class="col">
                    <a type="button" class="mybtn" href="#" style="text-decoration: none; color: #545859;">
                        CURSOS
                    </a>
                </div>
            </div>
            <br>
        </div>
    </div>
</nav>